# Node.js dependencies
node_modules/
package-lock.json

# Logs & temporary files
*.log
.DS_Store

# Build files
dist/
build/

# Environment variables (security)
.env

# VS Code settings (optional)
.vscode/
